<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="buttonsWrapper">
            <a href="/insert"><button class="btn btn-primary">Add</button></a>
            <button class="btn btn-secondary">Edit</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="jumbotron">
            <% data.forEach(e => { %>
                <h1><%= e.projectName %></h1>
                <p><%= e.projectDescription %></p>
                <hr class="my-4">
                <a href="<%= e.projectLink %>"><%= e.projectLink %></a>
            <% }); %> 
        </div>
    </body>

    <style>
        .jumbotron {
            background-color: rgb(193, 193, 193);
            box-shadow: 0 0 10px rgba(121, 121, 121, 0.204);
            border-radius: 5px;
            margin: 20px;
        }
        .buttonsWrapper {
            width: 1080px;
            margin: 0 auto;
            text-align: center;
            margin-top: 40px;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
    </style>
</html>