<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </head>
    <body>
      <div class="p-5 bg-light border rounded-3">
        <form action="/insert" method="post">
          <div class="mb-3">
            <label for="name">Project Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
          </div>
          <div class="mb-3">
            <label for="desc">Project Description</label>
            <input type="text" class="form-control" id="desc" name="description" placeholder="Description">
          </div>
          <div class="mb-3">
            <label for="link">Project Link</label>
            <input type="text" class="form-control" id="link" name="link" placeholder="Project Link">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </body>
</html>